* {
  margin: 0;
  padding: 0;
}
.conteiner {
  width: 70%;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img {
  width: 300px;
}
.head-text h6 {
  font-size: 18px;
  margin: 20px 0;
}
.head-text h1 {
  font-size: 80px;
  margin: 20px 0;
}
.head-text p {
  font-size: 18px;
  margin: 20px 0;
}
.btn a {
  padding: 15px 20px;
  background-color: black;
  color: #fff;
  text-decoration: none;
}
.btn button {
  padding: 15px 20px;
  color: black;
  border: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section img {
  width: 300px;
  padding: 40px 0;
}
.section h3 {
  margin: 20px 0;
}
.section h2 {
  margin: 20px 0;
  font-size: 32px;
}
.section p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 30px;
}
.section p span {
  color: #f48e08;
  margin: 20px 0;
  font-size: 18px;
  line-height: 30px;
}
